################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiiS.Toolkit/.idea/.idea.DiiS.Toolkit/.idea/misc.xml
/DiiS.Toolkit/.idea/.idea.DiiS.Toolkit/.idea/vcs.xml
