################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DiiS.Toolkit/.vs/DiiS.Toolkit
