@page "/tools/google-drive"
<div> class="img-container">
	<CropperComponent Src="./images/R.png" Class="big-img" Options="new Cropper.Blazor.Models.Options()"/>
</div>

<style>
	.big-img {
		max-height: 400px;
		max-width: 100%;
	}

	.img-container {
		max-height: 400px;
		width: 100%;
	}
</style>