@page "/Gallery"

<PageTitle>Gallery</PageTitle>

<h1>Gallery Page</h1>

<p>นี่คือหน้าคลังรูปภาพ</p>

<div class="gallery">
    <img src="images/PSU.png" alt="Logo" width="300" height="200" />
    
</div>

<!-- ปุ่มกลับไปยัง Counter -->
<button class="btn btn-secondary mt-3" @onclick="GoToCounter">Back to Counter</button>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private void GoToCounter()
    {
        Navigation.NavigateTo("/counter");
    }
}
